.see-more-button-wrapper{
  text-align: right!important;
}

.checklist__item{
  font-size: 1.1em!important;
  padding-bottom: 10px;
  .checklist__item__label{
    color: #656565!important;
  }
}

.disclaimer{
  text-align: justify;
  color: #656565;
}