.alert__olive{
  color: #d9e778 !important;
}
.alert__yellow{
  color: #fbbd08 !important;
}
.alert__orange{
  color: #f2711c !important;
}
.alert__red{
  color: #db2828 !important;
}
.amination__name__pulse {
  animation: flash 2s infinite;
}
.WatchesWarningsHuracane__container,
.WatchesWarningsHuracane__summary{
  padding: 15px 60px;
}
.WatchesWarningsHuracane__container{
  margin-top: 30px;
}
.WatchesWarningsHuracane__buttons{
  padding: 0 60px !important;
}
.More__Button{
  float: right;
}
.WatchesWarningsHuracane__container__image{
  width: 100% !important;
}
.Segment__alert{
  background-color:  #eff2f5;
}